html, body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.app-body {
  margin: 10px 0;
}

.is-clickable {
  cursor: pointer;
}

.body-header {
  margin: 0 0 10px;
}
